/*selector or type selector*/
/*
  selector{
    property; value;
}
*/
mark {
background-color: #ffc;
}
/* hexidecimal color: black to white, with greyscale inbetween.
0123456789abcdef
*/

ins {
  color:#c00;
}
/*
.redlining {
    color: red;
} */

.underline{
  text-decoration: underline;
}

.italic{
  font-style: italic;
}


.small-caps {
  font-variant: small-caps;
}
